<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>95496731068-ds6g48iess87pbmh2llhgkd9p4h0ofoa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.95496731068-ds6g48iess87pbmh2llhgkd9p4h0ofoa</string>
	<key>API_KEY</key>
	<string>AIzaSyCArN4KV3miXp4X52PSVZydl3AGFbsPdag</string>
	<key>GCM_SENDER_ID</key>
	<string>95496731068</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.atls.geotag</string>
	<key>PROJECT_ID</key>
	<string>geotag-911</string>
	<key>STORAGE_BUCKET</key>
	<string>geotag-911.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:95496731068:ios:e43382339a57d394edd3b9</string>
	<key>DATABASE_URL</key>
	<string>https://geotag-911.firebaseio.com</string>
</dict>
</plist>